@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */

body {
  font-family: "Roboto", sans-serif;
  background: #161616;
}

html {
  scroll-behavior: smooth;
}

.show {
  bottom: 100px;
}

/* TravelRequestForm */

.heading h1,
.heading p {
  text-shadow: inherit;
}

form input,
form button {
  @apply border ml-[10px] py-[4px] px-[20px] text-center shadow-2xl rounded;
  border: 1px solid black;
}

input:focus {
  outline: none;
}

input::placeholder {
  @apply text-black;
}

/* Explore */

.explore-card img {
  @apply hover:scale-[1.05];
}

.explore-big-img {
  @apply rounded-2xl w-[320px] md:w-[400px] h-[240px];
}

.explore-small-img {
  @apply w-[300px] md:w-[400px] h-[90px] rounded-lg;
}

/* Swiper */
.swiper-btn {
  @apply px-[20px] py-[12px] rounded-full bg-blue-200 font-bold text-[18px];
}

/* Footer */

.footer a {
  @apply hover:text-gray-100;
}

.swiper-slide {
  @apply flex justify-center items-center !important;
}
